.section.bg01{
  background: linear-gradient(180deg, white 0%, #C8FFFB 100%);
}

.portfolio-bg-img {
  position: absolute;
  width:100vw;
  height: auto; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drawing-animation-img {
  position: absolute;
  width: 60%;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: fadeOut 2s forwards 3s;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.intro-text-container{
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  left: 13%;
  width: 55rem;
  height: 70rem;
  align-items: center; 
  text-align: left;
  color: #0D2B98;
  opacity: 1;
  z-index: 2;
  /* animation: fadeIn 2s forwards 3s; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro-line.line1::after {
  content: ''; 
  display: block;
  width: 1px; 
  height: 25rem;
  background-color: #0D2B98;
  position: absolute;
  top: 14rem;
  left: 2rem;
}
.intro-line.line1,
.intro-line.line2{
  font-size: 4rem;
  font-weight: 200;
}
.intro-text-bt{
  text-shadow: 0px 0px 10px rgba(0, 13, 69, 0.50);
  font-size: 80px;
  font-weight: 500;
  color: white;
  margin-top: 2rem;
}
.intro-line.line2{
  margin-top: 33rem;
}






/* Mobile */
@media screen and (max-width: 768px) {

  /* 뷰포트 꽉 차게 배경 */
  .section.bg01 {
    height: 100vh;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #C8FFFB 0%, #FAF9F6 100%);
  }

  
  /* 배경 이미지 */
  .intro-svg{
    position: relative;
    top: 35rem;
    left: 0;
  }
  /* 애니메이션 이미지 */
  .drawing-animation-img {
    width: 25%;
    max-width: 120px;
    position: absolute;
    margin: 0 auto 1rem auto;
    z-index: 1;
  }

  /* 텍스트 컨테이너 */
  .intro-text-container {
    position: relative;
    top: 38rem;
    left: -0.3rem;
    max-width: 350px;
    margin: 0 auto;
    color: #0D2B98;
    z-index: 2;
    text-align: center;
    padding: 2rem 0;
  }
  

  

  .intro-line.line1::after {
    display: none;
  }
  .intro-line.line2{
    margin-top: 2rem;
  }
  
  .intro-line.line1,
  .intro-line.line2{
    font-size: 2.5rem;
  }
  .intro-text-bt{
    font-size: 3.5rem;
    margin-top: 40rem;
  }
  
  

}