

.section{
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
}



.section.bg01{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.section.bg02{
  background: #2c3e50;
}
.section.bg03{
  background: #1abc9c;
}
.section.bg04{
  background: #34495e;
}




#fp-nav ul li a span{
  background: #fff;
}

.fp-watermark a{
  display: none;
}

