.section.bg01{
  background: linear-gradient(180deg, var(--White, #FFF) 0%, #C8FFFB 100%);
}
.section.bg02{
  background: #b1d1d1;
}
.section.bg03{
  background: #8bbbb1;
}
.section.bg04{
  background: #ffffff;
}





