.publishing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15rem;
}
#publishing .project-info{
  text-align: left;
  margin-top: 8rem;
  margin-right: 3rem;
}
#publishing .proinfo-left{
  padding-left: 1rem;
  width: 300px;
}
.project-title{
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.project-desc{
  font-size: 2rem;
  font-weight: 400;
}
#publishing .stack-icons{
  margin: 2rem 0 7rem;
}
#publishing .stack-icons img{
  margin-bottom: 1rem;
}
.stack-icons img{
  margin-right: 1rem;
}
.pub-contents{
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 7rem;
}
.pub-contents p{
  margin-bottom: 0.5rem;
}
#publishing .imac-mockup{
  position: relative;
}
#publishing .imac-mockup img{
  width: 1035px;
  height: 870px;
  margin-right: 1rem;
}
#publishing .imac-mockup video{
  width: 940.362px;
  height: 530.835px;
  background: #fff;
  position: absolute;
  top: 4.3rem;
  left: 4.6rem;
}

#publishing .thumbnail-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 67.5rem;
  margin-top: 6rem;
}
#publishing .thumbnail-gallery .nav-btn{
  background: transparent;
  border: none;
  font-size: 3rem;
  color: #4B72FF;
}
#publishing .thumbnail-gallery .nav-btn.prev{
  margin-bottom: 1rem;
}
#publishing .thumbnail-gallery .nav-btn.next{
  margin-top: 1rem;
}
#publishing .thumb-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 2rem;
}
#publishing .thumb-list .logo-wrap{
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: 0.3s;
}
#publishing .thumb-list .logo-wrap img{
  max-width: 60%;
}
#publishing .thumb-list .logo-wrap:hover{
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2), inset -5px -5px 5px #fff;
}






/* -----맥북에어----- */
@media screen and (min-width: 1201px) and (max-width: 1280px){

  .publishing-container {
    margin-left: 12rem;
  }
  #publishing .proinfo-left{
    padding-left: 1rem;
    width: 200px;
  }
  #publishing .project-info{
    margin-right: 1.5rem;
    margin-top: 5.0rem;
  }
  #publishing .project-title{
    font-size: 3rem;
  }
  #publishing .project-desc{
    font-size: 1.7rem;
  }
  #publishing .imac-mockup img{
    width: 750px;
    height: 625px;
    margin-top: 3rem;
    margin-right: 0rem;
  }
  #publishing .imac-mockup video{
    width: 679px;
    height: 382px;
    top: 6rem;
    left: 3.5rem;
  }
  #publishing .thumbnail-gallery {
    margin-top: 4rem;
  }

}

/* -----Tablet----- */
@media screen and (min-width: 769px) and (max-width: 1200px) {

  #publishing .publishing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5rem;
  }

  #publishing .project-info{
    text-align: left;
    margin-top: 1rem;
    margin-right: 0rem;
  }
  #publishing .proinfo-left{
    width: 200px;
  }
  .project-title{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .project-desc{
    font-size: 2rem;
    font-weight: 400;
  }

  #publishing .imac-mockup img{
    width: 687px;
    height: 577.45px;
    margin-right: 1rem;
    margin-top: 6rem;
  }
  #publishing .imac-mockup video{
    width: 624.47px;
    height: 352.37px;
    background: #ffffff;
    position: absolute;
    top: 8.8rem;
    left: 3rem;
  }


  #publishing .thumbnail-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 67.5rem;
    margin-top: 6rem;
  }
  #publishing .thumb-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 2rem;
  }
  #publishing .thumb-list .logo-wrap{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: 0.3s;
  }
  #publishing .thumb-list .logo-wrap img{
    max-width: 60%;
  }
  

}

/* -----Mobile----- */
@media (max-width: 768px) {
  .publishing-container {
    flex-direction: column;
    align-items: left;
    margin: 4rem auto 0;
    
  }

  #publishing .project-info{
    text-align: left;
    margin: 1rem ;
    position: relative;
  }
  #publishing .proinfo-left{
    width: 200px;
  }
  #publishing .project-title{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  #publishing .project-desc{
    font-size: 1.4rem;
    font-weight: 400;
  }
  #publishing .pub-contents{
    font-size: 1.4rem;
    position: absolute;
    top: 15rem;
    left: 1rem;
  }

  #publishing .stack-icons{
    margin: 1rem 0 7rem;
  }
  #publishing .stack-icons img{
    margin-bottom: 1rem;
    width: 3rem;
  }


  #publishing .buttons {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    margin: 0rem;
    position: absolute;
    top: 5rem;
    right: 18rem;
  }
  #publishing .btn{
    margin-bottom: 1rem;
  }

  #publishing .imac-mockup img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 391.69px;
    height: 329.22px;
    margin: 0;
  }
  #publishing .imac-mockup video{
    width: 355.93px;
    height: 200px;
    background: #ffffff;
    position: absolute;
    top: 1.7rem;
    left: 1.8rem;
  }


  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #publishing .thumbnail-gallery {
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  #publishing .thumb-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto; /* 가로 스크롤 */
    overflow-y: hidden;
    padding: 1rem;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /* 스크롤바 숨기기 (Chrome, Safari, Opera) */
  #publishing .thumb-list::-webkit-scrollbar {
    display: none;
  }

  #publishing .thumb-list .logo-wrap {
    width: 100px;
    height: 70px;
    flex-shrink: 0;
    cursor: pointer;
  }
}