#UXUI .uxui-container {
  position: relative;
  width: 1700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

#UXUI .uxui-container .uxui-info {
  margin: 4rem 0 0;
  padding: 0;
  height: auto;
  min-height: 100px;
  width: 100%;
  max-width: 1200px;
  z-index: 10;
  position: relative;
}

#UXUI .uxui-container .uxui-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#UXUI .project-title {
  margin-right: 4rem;
}

#UXUI .stack-icons {
  margin-right: 0.5rem;
}

#UXUI .uxui-container .uxui-info .pub-contents {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
}


/* 버튼 스타일 */
#UXUI .button-container {
  position: absolute;
  left: 50%;
  bottom: -71rem;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 9999;
  justify-content: center; /* 중앙 정렬 */
}
#UXUI .uxui-container .btn {
  position: relative;
  transition: all 0.3s ease;
}

/* 스와이퍼 컨테이너 */
#UXUI .uxui-swiper {
  width: 1700px;
  height: 100vh;
  position: relative;
  margin-top: -4rem;
}

#UXUI .uxui-swiper .swiper-wrapper {
  align-items: center;
}

#UXUI .uxui-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
  z-index: 1;
}
#UXUI .uxui-swiper .swiper-slide-active {
  z-index: 10;
}

/* 스와이퍼 이미지 */
#UXUI .uxui-swiper img {
  width: 100%;
  max-width: 100%;
  height: auto;
  height: auto;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
#UXUI .uxui-swiper .swiper-slide-active img {
  transform: scale(2);
}

#UXUI .uxui-swiper-button-next,
#UXUI .uxui-swiper-button-prev {
  color: #4B72FF;
  background: rgba(255, 255, 255, 0.9);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -25px;
  transition: all 0.3s ease;
  border: 1px solid #4B72FF;
  position: absolute;
  top: 50%;
  z-index: 20;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#UXUI .uxui-swiper-button-next {
  right: 20px;
}
#UXUI .uxui-swiper-button-prev {
  left: 20px;
}
#UXUI .uxui-swiper-button-next:after,
#UXUI .uxui-swiper-button-prev:after {
  font-size: 2rem;
  font-weight: 600;
}

#UXUI .uxui-swiper-button-next:hover,
#UXUI .uxui-swiper-button-prev:hover {
  color: white;
  background: #0D2B98;
  transform: scale(1.1);
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}



/* 페이드 효과 */
#UXUI .fade {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}
#UXUI .fade:not(.show) {
  opacity: 0;
  transform: translateY(10px);
}
#UXUI .fade.show {
  opacity: 1;
  transform: translateY(0);
}



.uxui-planning-btn {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.uxui-planning-btn.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  width: 20rem;
  height: 5rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 인디케이터 기본 스타일 (데스크탑에서는 숨김) */
#UXUI .uxui-swiper-pagination {
  display: none;
}

/* -----맥북에어----- */
@media screen and (min-width: 1201px) and (max-width: 1280px){

  #UXUI .uxui-swiper img {
    width: 70%;
    max-width: 500px;
  }

  #UXUI .button-container {
    position: absolute;
    top: 56.5rem;
    left: 50%;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .uxui-planning-btn.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    width: 15rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}



/* -----Tablet----- */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  #UXUI .uxui-container .uxui-info {
    margin: 1rem 0 0;
  }

  #UXUI .uxui-swiper img {
    width: 80%;
    max-width: 500px;
  }

  #UXUI .button-container {
    position: absolute;
    top: 61.5rem;
  }

  .uxui-planning-btn.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    width: 17.5rem;
    height: 5rem;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}



/* -----Mobile----- */
@media (max-width: 768px) {

  #UXUI .uxui-container{
    margin: -9rem;
  }
  #UXUI .uxui-container .uxui-info {
    margin: 0;
  }
  #UXUI .project-title {
    margin-right: 2rem;
    font-size: 2.4rem;
    width: 100px;
    text-align: center;
    word-break : keep-all;
  }
  #UXUI .stack-icons img{
    width: 3rem;
  }
  #UXUI .uxui-container .uxui-info .pub-contents {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
  }

  #UXUI .uxui-swiper{
    height: 400px;
  }
  #UXUI .uxui-swiper .swiper-slide{
    height: 300px;
  }
  #UXUI .uxui-swiper img {
    width: 40%;
    margin-left: -4rem;
  }

  #UXUI .button-container {
    position: absolute;
    top: 37rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .uxui-planning-btn.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    width: 12.5rem;
    height: 4rem;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #UXUI .uxui-swiper-pagination {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    margin-left: -1.1rem;
  }
  
  #UXUI .uxui-swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #0D2B98;
    opacity: 1;
    margin: 0 4px;
    transition: all 0.3s ease;
  }
  
  #UXUI .uxui-swiper-pagination .swiper-pagination-bullet-active {
    background: #0D2B98;
    transform: scale(1.2);
  }

}